/build*/
/install*/
__pycache__*/
ipch/
CMakeUserPresets.json
.vs/
.DS_Store
.idea
*.aps
*.db
*.ilk
*.ncb
*.opendb
*.opensdf
*.sdf
*.suo
*.user
*.pdb
*.tlog
*.obj
*.pch
*.idb
*.log
*.cache
*.iobj
*.ipdb
*.map
*.psess
*.vspx